body{
    /* background-color: blueviolet; */
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: purple;
    color: white;
    font-size:large;
    margin-top: -24px;
    min-height: 160px;
    border-bottom: 3px solid orange;
}

header h1{
    text-align: center;
    padding-top: 15px;
}

.flex-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color:black;
    padding-top: 0;
    min-height: 80px;
}

.flex-container ul {
    display: flex;
    margin: 0;
    padding:0;
    list-style-type: none;
}

.flex-container ul li {
    padding:17px;
}

.flex-container ul li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    margin: 5px 15px;
}

.flex-container ul li a:hover {
    background-color: green;
    color:black;
    padding:10px;
    border-radius: 5px;
}

/* middle section */

.flex-container-middle {
    display: flex;
    flex-direction: row;
   
}
.flex-container-middle aside, .flex-container-middle article {
    background-color: whitesmoke;
}
.flex-container-middle aside {
    flex:25%;
    padding:25px;
}


.flex-container-middle article {
    flex: 45%;
    margin-left: 15px;
    margin-right: 15px;
   padding:25px;

}

/* image container */
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;

}

.image-container div{
    background:gray;
    width: 300px;
    height: 300px;
    margin:25px;
    text-align: center;
}

/* footer */
.flex-container-footer {
    background-color: violet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.flex-container-footer li {
    list-style-type: none;
}

.flex-container-footer li a {
    text-decoration: none;
    color:gray;
    font-size: 20px;
}
.flex-container-footer li a:hover {
    background-color: green;
    border-radius: 7px;
    paddng: 15px 15px;

}

